<div class="container-display">
  <div class="display">
    <span class="placeholder"> {{title1}}</span>
    <div class="icon-container" (click)="copyInputDisplay()">
      <ion-icon name="copy-outline"></ion-icon>
    </div>
  </div>
  <div class="convertion-icon-container">
    <ion-icon name="code-outline"></ion-icon>
  </div>
  <div class="display">
    <span class="placeholder">{{title2}}</span>
    <div class="icon-container"  (click)="copyInputDisplay()">
      <ion-icon class="icon-copy" name="copy-outline"></ion-icon>
    </div>
  </div>
</div>