<div class="container-display">
  <div class="display">
    
    <span *ngIf="value1" class="placeholder"> {{title1}}</span>
    <span *ngIf="!value1" class="placeholder"> {{value1}}</span>
    <div class="icon-container" (click)="copyInputDisplay()">
      <ion-icon name="copy-outline"></ion-icon>
    </div>
  </div>
  <div class="convertion-icon-container">
    <ion-icon name="code-outline"></ion-icon>
  </div>
  <div class="display">
    <span *ngIf="value2" class="placeholder"> {{title2}}</span>
    <span *ngIf="!value2" class="placeholder"> {{value2}}</span>
    <div class="icon-container"  (click)="copyInputDisplay()">
      <ion-icon class="icon-copy" name="copy-outline"></ion-icon>
    </div>
  </div>
</div>