.container-display{
    width: 100%;
    height: 30vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45%;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.placeholder{
    text-transform: uppercase;
    color: grey;
    font-size: 2rem;
}


.icon-container{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.convertion-icon-container{
    background-color: white;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    position: absolute;
    top: 13.5vh;
    z-index: 1;
}